h2 {
    text-align: center;
}

.tile {
    background-color: darkgrey;
    height: 3.7vw;
    width: 3.7vw;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.board {
    display: grid;
    align-content: space-evenly;
    justify-content: space-evenly;
    grid-template-columns: repeat(10, auto);
    grid-template-rows: repeat(10, auto);
    border: solid 1px black;
    width: 40vw;
    height: 40vw;
    margin-bottom: 10px;
    margin-top: 10px;
    transition:all 0.4s;
}

#ship-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border: solid 1px black;
    width: 40vw;
    margin-left: 4.5vw;
}

.out-of-board-ship {
    display: flex;
    cursor: move;
}

#board-container {
    display: flex;
    justify-content: space-around;
}

.tile-water {
    background-color: aqua!important;
}

.tile-hit {
    background-color: darkviolet!important;
}

.tile-sunk {
    background-color: crimson!important;
}

.tile-ship {
    background-color: green!important;
}

.shoot {
    background-color: red;
    width: 2vw;
    height: 2vw;
    display: block;
    border-radius: 1vw;
}

.ship-top {
    border-radius: 1.5vw 1.5vw 0vw 0vw;
}

.ship-bottom {
    border-radius: 0vw 0vw 1.5vw 1.5vw;
}

.ship-left {
    border-radius: 1.5vw 0vw 0vw 1.5vw;
}

.ship-right {
    border-radius: 0vw 1.5vw 1.5vw 0vw;
}

.over {
    box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.4);
}

.over-tile {
    background-color: #575757;
}